{
    "parser": "@typescript-eslint/parser",
    "plugins": ["unused-imports", "react", "react-native", "react-hooks"],
    "rules": {
     "react-native/no-unused-styles": 2,
     "react-native/split-platform-components": 2,
     "react-native/no-inline-styles": 2,
     "react-native/no-color-literals": 2,
     "react-native/no-raw-text": 2,
     "react-native/no-single-element-style-arrays": 2,
     "react-hooks/rules-of-hooks": "error",
     "react-hooks/exhaustive-deps": "error",
     "unused-imports/no-unused-imports": "error",
     "unused-imports/no-unused-vars": "error"
    }
   }